.top{
    width:100%;
    height:50px ;
    background-color:white;
    position: sticky;
    top:0;
    display: flex;
    font-family: 'Josefin Sans', sans-serif;
    align-items: center;
    margin-top: 5em;

}
.topright{
    flex:4;
    display: flex;
   justify-content: center;
   align-items: center;
   
}
.topleft{
    flex:6;
    display: flex;
    align-items: center;
    justify-content: end;
}
.button {
    background-color: #008CBA ;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
  }
  .button2:hover {
    background-color: white;
    color:#008CBA;
    border:solid #008CBA;
  }
