.write{
    padding-top: 50px;
}


.writeFormGroup{
    margin-left:20px;
}

.writeTitle{
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 20px;
  }

  .fileUpload{
   
    margin: 10px 5px;
    display: inline-block;
    
    
  }
  

  .writeSubmit{
    background-color: #008CBA ;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    margin-left:20px;
  }

  .writeSubmit:hover{
        background-color: white;
    color:#008CBA;
    border:solid #008CBA;
  }